*{
    background-color: #1F2937;
    font-family: roboto;
    color: white;

}
body{
    margin: 0px 200px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 16px;
    margin-bottom: 120px;
}

.logo a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 24px;
}

ul{
    list-style: none;
    display: flex;
    gap: 12px;
    color: white;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero_left{
    /* max-width: 600px; */
}

.hero h1{
    font-size: 100px;
    margin-bottom: 28px;
    line-height: 68px;
}

.hero_copy{
    font-size:20px;
    max-width: 360px;
    margin-top: 0px;
    margin-bottom: 28px;
    font-family: 'roboto thin';

}

.hero_image{
    width: 600px;
    height: auto;
}

.hero_button{
    font-size: 24px;
    background-color: #3882f6;
    padding: 8px 24px;
    border-radius: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}