*{
    /* never put background color here */
    /* background-color: #1F2937; */
    font-family: roboto;
    /* color: white; */
    margin: 0px;
    padding: 0px;
}
body{
    /* margin: 0px 200px; */
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 32px 200px;
    background-color: #1f2937;
}

.logo a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 24px;
}

ul{
    list-style: none;
    display: flex;
    gap: 12px;
    color: white;
}

.hero{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    background-color: #1f2937;
    color: white;
}
.hero_left{
    /* max-width: 600px; */
}

.hero h1{
    font-size: 100px;
    margin-bottom: 28px;
    line-height: 68px;
}

.hero_copy{
    font-size:20px;
    max-width: 360px;
    margin-top: 0px;
    margin-bottom: 28px;
    font-family: 'roboto thin';

}

.hero_image{
    width: 500px;
    height: auto;
}

.hero_button{
    font-size: 24px;
    color: white;
    background-color: #3882f6;
    padding: 8px 24px;
    border-radius: 12px;
    border: 0px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section_one{
    padding: 0px 200px 200px 200px;
    background-color: white;
    padding-top: 80px;

}
.section_one img{
    width: 200px;
    height: auto;
}

.section_one h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    color: black;
}

.section_one .container{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.section_one p{
    width: 200px;
    color: black;
} 


.quote_section{
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.quote_section .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote_section p{
    width: 920px;
}
.quote_section blockquote{
    color: black;
    font-size: 40px;
    font-style: italic;
    /* margin: auto; */
}


.footer{
    padding: 100px 200px;
}

.quote_section footer{
    /* text-indent: 1; */
}

.footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .wrapper{
    width: 100%;
    background-color: #3882f6;
    /* padding: 30px 60px; */
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    color: white;
    border-radius: 12px;
}

.footer h2{
    font-size: 28px;
}

.footer button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #3882f6;
    border: 1px white solid;
    padding: 8px 24px;
    border-radius: 8px;
}

.copyright{
    background-color: #1f2937;
    padding: 30px 200px;
    color: whitesmoke;
    text-align: center;
}