*{
    background-color: #1F2937;
    font-family: roboto;
    color: white;
    margin: 0px;
    padding: 0px;
}
body{
    /* margin: 0px 200px; */
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 120px;
    padding: 32px 200px;
}

.logo a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 24px;
}

ul{
    list-style: none;
    display: flex;
    gap: 12px;
    color: white;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    padding: 0px 200px;
}
.hero_left{
    /* max-width: 600px; */
}

.hero h1{
    font-size: 100px;
    margin-bottom: 28px;
    line-height: 68px;
}

.hero_copy{
    font-size:20px;
    max-width: 360px;
    margin-top: 0px;
    margin-bottom: 28px;
    font-family: 'roboto thin';

}

.hero_image{
    width: 600px;
    height: auto;
}

.hero_button{
    font-size: 24px;
    background-color: #3882f6;
    padding: 8px 24px;
    border-radius: 12px;
    border: 0px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section_one{
    padding: 0px 200px 240px 200px;
    background-color: white;


}
.section_one img{
    width: 200px;
    height: auto;
}

.section_one h2{
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
    margin-bottom: 100px;
    background-color: white;
    color: black;
}

.section_one .container{
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color: white;


}

.section_one p{
    width: 200px;
    color: black;
    background-color: white;

} 

.section_one .container div{
    background-color: white;
}